<body>
    <div>
      <% let currentYear = new Date().getFullYear(); %>
      <footer class="footer"></br>
        <a href="/contact"> ©️ <%=currentYear%> Victoria Munteanu </a>
      </footer>
  
    </div>
  </body>
  </html>