<footer>
  <div class="about">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
      recusandae, molestiae incidunt
    </p>
    <!-- Contacts -->
    <div class="contact">
      <a href="https://victoriamunteanuportfolio.net/" target="_blank"
        >[Portfolio]</a
      >
      <a href="https://www.linkedin.com/in/victoriamunteanu/" target="_blank"
        >[LinkedIn]</a
      >
      <a href="https://github.com/vicmoon" target="_blank">[ GitHub ]</a>
    </div>

    <!-- date -->
    <div class="date">
      <% let currentYear = new Date().getFullYear(); %>
      <a href="/contact"> ©️ <%=currentYear%> Victoria Munteanu </a>
    </div>
  </div>
</footer>
