<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Navbar</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <a href="/"><img src="/images/victoria.jpg" class="logo" /></a>
        <ul class="menu">
          <%if(userAuth){ %>
          <li class="nav-item home">
            <a href="/">Home</a>
          </li>
          <li class="nav-item home">
            <a href="/api/v1/users/login">Login</a>
          </li>
          <li class="nav-item home">
            <a href="/api/v1/users/logout">Logout</a>
          </li>
          <li class="nav-item home">
            <a href="/api/v1/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a href="/api/v1/posts/add-post">New Post</a>
          </li>
          <li class="nav-item">
            <a href="/api/v1/posts/">Blog</a>
          </li>
          <!-- <li class="nav-item"><a href="/api/v1/paintings">Paintings</a></li> -->

          <% } else { %>
          <li class="nav-item home"><a href="/">Home</a></li>
          <div class="nav-right">
            <!-- <li class="nav-item">
              <a href="/api/v1/users/profile-page">About</a>
            </li> -->
            <li class="nav-item"><a href="/api/v1/posts/">Blog</a></li>
            <li class="nav-item"><a href="/api/v1/resources">Links</a></li>
            <li class="nav-item">
              <a href="/api/v1/signup">Newsletter</a>
            </li>
            <li class="nav-item"><a href="/contact">Contacts</a></li>
            <!-- <li class="nav-item home">
              <a href="/api/v1/users/register">Register</a>
            </li>
            <li class="nav-item home">
              <a href="/api/v1/users/login">Login</a>
            </li> -->

            <% } %>
          </div>
        </ul>
      </nav>
    </header>
  </body>
</html>
