<%- include('partials/header'); -%>

<form action="/contact" method="post">
  <div id="contact">
    <a href="https://victoriamunteanuportfolio.net/" target="_blank"
      >[Portfolio]</a
    >
    <a href="https://www.linkedin.com/in/victoriamunteanu/" target="_blank"
      >[LinkedIn]</a
    >
    <a href="https://github.com/vicmoon" target="_blank">[ GitHub ]</a>
  </div>
</form>
<%- include('partials/footer'); -%>
