

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/form.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- nav -->
    <%-include('./partials/header.ejs')%>

       <!-- content -->
       <section class="">
        <article class="post-content">
          <img src="./images/post3.jpg" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">John Doe</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">January 1, 2020</time>
            </span>
          </p>
          <h1 class="post-title">Become a Web Developer</h1>
          <p class="post-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
            quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
            Repudiandae, odio?
          </p>
          <!-- category -->
          <div class="post-category">
            <span>Category:</span>
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>
  
        <article class="post-content">
          <img src="./images/post7.jpg" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">John Doe</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">January 1, 2020</time>
            </span>
          </p>
          <h1 class="post-title">How to Take care of Cat</h1>
          <p class="post-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
            quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
            Repudiandae, odio?
          </p>
          <!-- category -->
          <div class="post-category">
            <span>Category:</span>
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>
  
        <article class="post-content">
          <img src="./images/post7.jpg" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">John Doe</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">January 1, 2020</time>
            </span>
          </p>
          <h1 class="post-title">How to Take care of Cat</h1>
          <p class="post-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
            quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
            Repudiandae, odio?
          </p>
          <!-- category -->
          <div class="post-category">
            <span>Category:</span>
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>
      </section>
    </div>
  </body>
</html>

