<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Library</title>
    <link rel="stylesheet" href="/css/library.css" />
  </head>
  <body>
    <div class="back-button">
      <a href="/">Back</a>
    </div>
    <div class="carousel">
      <% library.forEach(function(book) { %>
      <div class="carousel-item">
        <img src="<%= book.bookCover %>" alt="<%= book.title %>" />
        <p class="book-title"><%= book.title %></p>
      </div>
      <% }); %>
    </div>
    <div class="back-button">
      <a href="/">Back</a>
    </div>
  </body>
</html>
