<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Library</title>
    <link rel="stylesheet" href="/css/library.css" />
  </head>
  <body>
    <a href="/" class="back-button"><span>Back</span></a>
    <div class="carousel">
      <% library.forEach(function(book) { %>
      <div class="carousel-item">
        <img src="<%= book.bookCover %>" alt="<%= book.title %>" />
        <p class="book-title"><%= book.title %></p>
      </div>
      <% }); %>
    </div>
    <a href="/" class="back-button"><span>Back</span></a>
  </body>
</html>
