<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Paintings</title>
  </head>
  <body>
    <h1>All Paintings</h1>

    <div class="paintings-list">
      <% paintings.forEach(function(painting) { %>
      <div class="painting">
        <h2><%= painting.title %></h2>
        <img src="<%= painting.paintingImage %>" alt="<%= painting.title %>" />
      </div>
      <% }); %>
    </div>
  </body>
</html>
