<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/form.css" />
    <title>Register</title>
  </head>
  <body>
    <!-- nav -->
    <%-include('../partials/header.ejs')%>

      <form action="/api/v1/signup" method="POST">
        <!-- full name -->
        <label for="name">Title</label>
        <input type="text" name="title" />
        <!-- email -->
        <label for="email">Author</label>
        <input type="email" name="author" />

        <label for="password">Link</label>
        <input type="password" name="link" />

       
      </form>
    </div>

    <!-- footer -->
  </body>
</html>
