<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" href="/images/victoria_m.jpg" type="image/x-icon" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/newsletter.css" />
    <link rel="stylesheet" href="/css/mailchimp.css" />
    <title>Bits && Scribbles - Subscribe</title>
  </head>
  <body>
    <!-- nav -->
    <%-include('./partials/header.ejs')%>

    <div class="form-container">
      <!-- icon -->
      <h1>Subscribe</h1>

      <% if (error) { %>
      <small class="error">
        <i class="fas fa-exclamation-circle"></i>
        <%= error %>
      </small>
      <% } %>

      <!-- Embedded Mailchimp Form -->
      <div id="mc_embed_shell">
        <div id="mc_embed_signup">
          <form
            action="https://gmail.us21.list-manage.com/subscribe/post?u=e6380098ece52bf064ac7138c&amp;id=27b0bd3563&amp;f_id=00eceae6f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
          >
            <div id="mc_embed_signup_scroll">
              <div class="indicates-required">
                <span class="asterisk">*</span> indicates required
              </div>
              <div class="mc-field-group">
                <label for="mce-EMAIL"
                  >Email Address <span class="asterisk">*</span></label
                >
                <input
                  type="email"
                  name="EMAIL"
                  class="required email"
                  id="mce-EMAIL"
                  required=""
                  value=""
                />
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input
                  type="text"
                  name="FNAME"
                  class="text"
                  id="mce-FNAME"
                  value=""
                />
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input
                  type="text"
                  name="LNAME"
                  class="text"
                  id="mce-LNAME"
                  value=""
                />
              </div>
              <p>
                <a
                  href="https://us21.campaign-archive.com/home/?u=e6380098ece52bf064ac7138c&amp;id=27b0bd3563"
                  >View previous campaigns</a
                >
              </p>
              <div id="mce-responses" class="clear foot">
                <div
                  class="response"
                  id="mce-error-response"
                  style="display: none"
                ></div>
                <div
                  class="response"
                  id="mce-success-response"
                  style="display: none"
                ></div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px">
                <input
                  type="text"
                  name="b_e6380098ece52bf064ac7138c_27b0bd3563"
                  tabindex="-1"
                  value=""
                />
              </div>
              <div class="optionalParent">
                <div class="clear foot">
                  <input
                    type="submit"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="button"
                    value="Subscribe"
                  />
                  <p style="margin: 0px auto">
                    <a
                      href="http://eepurl.com/iKJ89Q"
                      title="Mailchimp - email marketing made easy and fun"
                    >
                      <span
                        style="
                          display: inline-block;
                          background-color: transparent;
                          border-radius: 4px;
                        "
                      >
                        <img
                          class="refferal_badge"
                          src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                          alt="Intuit Mailchimp"
                          style="
                            width: 220px;
                            height: 40px;
                            display: flex;
                            padding: 2px 0px;
                            justify-content: center;
                            align-items: center;
                          "
                        />
                      </span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- End of Mailchimp Form -->
    </div>
  </body>
</html>
