/* Grid layout for posts */
main {
  color: #062e83;
}
main form {
  padding: 20px;
  margin-left: 160px;
}

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 20px;
  margin-left: 200px;
}

.posts-grid a {
  text-decoration: none;
}
.posts-grid a:hover {
  color: #f4ce14;
  transform: scale(1.1); /* Enlarges the text by 10% */
  transition: transform 0.3s ease; /* Adds a smooth transition */
}

.posts-grid img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}

.posts-grid .post-title {
  color: #062e83;
}

/* Small devices (phones, 0px to 475px) */
@media (max-width: 475px) {
  .posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 20px 20px;
    margin-left: 20%;
  }

  .posts-grid img {
    width: 60%;
    height: auto;
    border-radius: 30px;
  }

  .posts-grid .post-category {
    display: none;
  }
  .posts-grid .post-date span {
    display: none;
  }
}

/* Medium devices (larger phones and small tablets, 476px to 768px) */
@media (min-width: 476px) and (max-width: 768px) {
  .posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 20px 20px;
    margin-left: 20%;
  }

  .posts-grid img {
    width: 70%;
    height: auto;
    border-radius: 30px;
  }

  .posts-grid .post-category {
    display: none;
  }

  .posts-grid .post-date span {
    display: none;
  }
}

/* Large devices (tablets, 769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Extra large devices (small desktops, 1025px to 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
}

/* Ultra large devices (large desktops and monitors, 1441px and up) */
@media (min-width: 1441px) {
}
