body {
  background-color: #201e43 !important;
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #201e43;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
}

.hero h1 {
  font-size: 90px;
  color: #fabc3f; /* Opaque text */
  background: rgba(203, 128, 171, 0.5); /* 50% transparent background */
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
  border: 4px solid #fabc3f;
  letter-spacing: 5px; /* Spaced out letters */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.posts-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -10%;
  padding: 50px;
  max-width: fit-content;
  gap: 10px; /* Adds space between posts */
}

.latest-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #eeeeee;
  margin-top: 15px;
}

.posts-hero img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.posts-hero .post-title {
  color: #cb80ab;
  font-size: 25px;
}

.posts-hero .post-date {
  display: flex;
  background-color: #ffeac5;
  color: #062e83;
  border-radius: 10px;
  padding: 3px;
  width: 300px;
  justify-content: flex-end;
}

.posts-hero a {
  text-decoration: none;
}

.posts-hero .post-body {
  color: #eeeeee !important;
}

/* Responsive Media Queries */
/* Small devices (phones, 0px to 475px) */
@media (max-width: 475px) {
  .hero h1,
  .hero {
    display: none;
  }

  .posts-hero {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 15%;
  }
  .latest-posts {
    display: flex;
    flex-direction: row;
  }

  .posts-hero img {
    display: none;
  }

  .posts-hero .post-category {
    display: none;
  }
  .posts-hero .post-title {
    font-size: 20px;
  }

  .post-body {
    display: none;
  }

  .posts-hero .post-date {
    display: none;
  }

  footer {
    height: 30px;
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;
    background-color: #201e43;
    margin-top: auto; /* Pushes the footer to the bottom when content is short */
    width: 100%;
  }
}

/* Medium devices (larger phones and small tablets, 476px to 768px) */
@media (min-width: 476px) and (max-width: 768px) {
  .hero h1,
  .hero,
  .latest-posts,
  .post-date {
    display: none;
  }

  .posts-hero {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15%;
    gap: 10px;
  }

  .posts-hero img {
    width: 300px; /* Smaller images for mid-size devices */
    height: 200px;
  }

  .latest-posts {
    font-size: 20px;
  }

  footer {
    padding: 20px;
    font-size: 16px;
  }

  .post-date {
    margin-top: 3px;
    background-color: #ffeac5;
    border-radius: 10px;
    width: 200px;
    justify-content: flex-end;
  }
}

/* Large devices (tablets, 769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero h1 {
    font-size: 75px; /* Larger font for tablets */
  }
  .hero {
    display: none;
  }
  .latest-posts {
    font-size: 20px;
    padding: 10px;
    margin: 0;
  }
  .post-content {
    display: flex;
    flex-direction: column;
  }

  .posts-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 30px;
  }

  .posts-hero img {
    width: 80%;
    height: 80%;
  }
  .post-body {
    display: none;
  }

  footer {
    font-size: 18px;
    padding: 25px;
  }
}

@media (min-width: 781px) {
  .posts-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 70px;
    margin-left: 20%;
  }

  .posts-hero img {
    width: 80%;
    height: 80%;
  }

  .posts-hero .post-date {
    width: 80%;
  }
}

/* Extra large devices (small desktops, 1025px to 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .hero {
    display: none;
  }

  .hero h1 {
    display: none;
  }

  .posts-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 70px;
    margin-left: 20%;
  }

  .posts-hero .post-body {
    display: none;
  }

  .posts-hero img {
    width: 80%;
    height: 80%;
  }

  .latest-posts {
    font-size: 50px;
    padding: 10px;
    margin: 0;
  }

  .posts-hero .post-date {
    margin-top: 3px;
    background-color: #ffeac5;
    border-radius: 10px;
    width: 80%;
    justify-content: flex-end;
  }

  footer {
    height: 20px;
    font-size: 20px;
    padding: 30px;
  }
}

/* Ultra large devices (large desktops and monitors, 1441px and up) */
@media (min-width: 1441px) {
  .hero h1 {
    font-size: 100px; /* Large text for ultra-wide monitors */
  }

  .posts-hero {
    grid-template-columns: 1fr 1fr; /* Keep three columns */
    margin-left: 10%;
    padding: 50px;
  }

  .posts-hero img {
    width: 100%;
    height: 100%;
  }

  .posts-hero .post-date {
    width: 100%;
  }
  .posts-hero .post-body {
    display: none;
  }
  footer {
    font-size: 22px;
    padding: 35px;
  }
}
