body {
  background-color: #fff1db; /* Paper-like background color */
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif !important;
}

/* Flex Container */

/* Style for the Back button */
.back-button {
  display: block;
  margin: 40px auto 20px auto;
  max-width: 200px;
  padding: 10px 20px;
  background-color: #b1afff;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #a18fee;
}

/* Main Post Content */
.post-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 90%; /* Adjust width to ensure it doesn't stretch too far */
  padding: 15px;
  margin: 2% auto; /* Center the post content */
  margin-left: 20%; /* Space for the vertical nav on the left */
  border-radius: 20px;
  background-color: #fff1db;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.post-info {
  display: none;
}
.post-body {
  font-size: 1rem;
  line-height: 1.6;
  padding: 10px;
  text-align: left; /* Keep text aligned to the left */
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #a18fee;
  text-align: center;
}

/* Related Posts Section */
.related-posts {
  width: 90%;
  color: #fffcf2;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 8%;
  justify-content: space-evenly;
}

.related-post-content {
  background-color: #a2d2df;
  width: 250px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #333;
  margin-bottom: 15px;
  box-shadow: 0 6px 12px rgba(80, 66, 66, 0.15);
  text-align: center;
}

.related-post-content img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.related-posts h3:hover {
  color: #ffb84c;
}

.post-read-more {
  color: #ffb84c;
  text-decoration: none;
  font-size: 1rem;
}

/* --------------------------------------- */
/* MEDIA QUERIES */
/* --------------------------------------- */

/* Small devices (phones, max-width: 576px) */
@media (max-width: 576px) {
  .post-content {
    width: 85%; /* Reduce width for better readability */
    margin-left: 10%; /* Adjust margin for smaller screens */
  }

  .post-body {
    font-size: 0.9rem; /* Slightly smaller text for small screens */
    line-height: 1.5;
    margin-left: 6%;
  }
  .post-title {
    margin-left: 5%;
  }
}

/* Medium devices (tablets, 577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .post-content {
    width: 90%; /* Make use of available space */
    margin-left: 16%; /* Space for the vertical nav */
  }

  .post-body {
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* Large devices (desktops, 769px and up) */
@media (min-width: 769px) {
  .post-content {
    width: 70%;
    margin: 2% auto;
    margin-left: 15%; /* Space for vertical nav */
  }

  .post-body {
    font-size: 1.1rem;
    line-height: 1.7;
  }
}
