/* Browser Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
}

body {
  background-color: #201e43;
}

/* Navbar styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Responsive Media Queries for Navbar */
@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  header h1 {
    font-size: 1.5rem;
  }
}

/* Grid layout for posts */
main {
  background-color: #201e43;
  color: #eeeeee;
}
main form {
  padding: 20px;
  margin-left: 160px;
}

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 20px;
  margin-left: 200px;
}

.posts-grid a {
  text-decoration: none;
}
.posts-grid a:hover {
  color: #f4ce14;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.posts-grid img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}
.posts-grid .post-title {
  color: #eeeeee;
}

.post-grid .post-content {
  background-color: #d2d6df;
}

/* Main Content */
.post-content {
  padding: 10px;
  width: 400px;
  margin: 10px;
  position: relative;
  border-radius: 30px;
}

.latest-post-title {
  font-size: 1.4rem;
  text-align: center;
  background-color: #3d74e9;
  justify-content: center;
  flex-direction: column;
}

.post-category span {
  background-color: #f4ce14;
  color: #eeeeee;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  top: 9px;
  left: -5px;
}

form select {
  padding: 5px;
  border-radius: 30px;
  margin-left: 30px;
  background-color: #b1afff;
}

.post-info span {
  display: flex;
  align-items: center;
  color: rgb(168, 12, 12);
  font-size: 1.2rem;
}

.post-date {
  margin-top: 3px;
  background-color: #ffeac5;
  border-radius: 10px;
  width: 500px;
  justify-content: flex-end;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #062e83;
}

.contact {
  background-color: #201e43;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.card {
  margin-top: -50px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.card-header,
.card-title {
  text-align: center;
  font-weight: bold;
}
.card .btn {
  background-color: #fcde70;
  border-radius: 30px;
  color: #062e83;
}

/* Different background colors for each card */
.card:nth-child(1) {
  background-color: #4dd8e9;
}

.card:nth-child(2) {
  background-color: #b1afff;
}

.card:nth-child(3) {
  background-color: #ef9c66;
}

/* Responsive Media Queries */
@media (max-width: 475px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
  .posts-grid img {
    width: 200px;
    height: 200px;
  }
  .posts-grid .post-date {
    width: 300px;
  }
  .posts-grid .post-body {
    display: none;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .posts-hero {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 675px) {
  .latest-post-title,
  .hero,
  .hero h1,
  .posts-hero .post-date,
  .posts-hero .post-body,
  .posts-grid .post-body {
    display: none;
  }
  .posts-grid {
    grid-template-columns: 1fr;
  }

  .posts-hero {
    width: calc(100% - 150px);
    grid-template-columns: 1fr;
    background-color: #201e43;
  }

  .card-container {
    flex-direction: column;
    margin-left: 50px;
    gap: 20px;
  }
  .card {
    border-radius: 30px;
    max-width: 200px;
    max-height: 200px;
    padding: 20px;
  }

  footer {
    height: 100px;
    text-align: center;
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .posts-grid {
    grid-template-columns: 1fr 1fr;
  }

  .posts-hero {
    grid-template-columns: 1fr 1fr;
  }
}
