<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <!-- nav -->
    <%-include('../partials/header.ejs')%>

    <div class="profile-container">
      <!-- profile image -->

      <div class="profile-img">
        <img src="/public/images/logo.jpg" alt="profile image" />
        <!-- upload profile image icon -->
        <a href="/api/v1/users/profile-photo">
          <i class="fas fa-camera upload-btn"></i
        ></a>
      </div>
      <!-- personal details -->
      <div class="personal-container">
        <div class="details-wrapper">
          <div class="details">
            <i class="fas fa-user"></i>
            <p>Name: John Doe</p>
          </div>
          <div class="details">
            <i class="fas fa-envelope"></i>
            <p>Email: John Doe</p>
          </div>
          <!-- date joined -->
          <div class="details">
            <i class="fas fa-calendar"></i>
            <p>Date Joined: John Doe</p>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-post-title">
      <!-- Icon -->
      <i class="fas fa-book-open"></i>
      <h1>Latest Posts (20)</h1>
    </div>

    <!-- content -->
    <section class="container-flex">
      <article class="post-content">
        <img src="/images/post.png" alt="" class="post-image" />
        <p class="post-info">
          <span class="post-author">
            <i class="fas fa-user"></i>
            <a href="#">John Doe</a>
          </span>
          <span class="post-date">
            <i class="far fa-calendar-alt"></i>
            <time datetime="2020-01-01">January 1, 2020</time>
          </span>
        </p>
        <h1 class="post-title">Become a Web Developer</h1>
        <p class="post-body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
          quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
          Repudiandae, odio?
        </p>
        <!-- category -->
        <div class="post-category">
          <span>Category:</span>
        </div>
        <a href="/" class="post-read-more">Continue Reading...</a>
      </article>

      <article class="post-content">
        <img src="/images/post.png" alt="" class="post-image" />
        <p class="post-info">
          <span class="post-author">
            <i class="fas fa-user"></i>
            <a href="#">John Doe</a>
          </span>
          <span class="post-date">
            <i class="far fa-calendar-alt"></i>
            <time datetime="2020-01-01">January 1, 2020</time>
          </span>
        </p>
        <h1 class="post-title">How to Take care of Cat</h1>
        <p class="post-body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
          quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
          Repudiandae, odio?
        </p>
        <!-- category -->
        <div class="post-category">
          <span>Category:</span>
        </div>
        <a href="/" class="post-read-more">Continue Reading...</a>
      </article>

      <article class="post-content">
        <img src="/images/post.png" alt="" class="post-image" />
        <p class="post-info">
          <span class="post-author">
            <i class="fas fa-user"></i>
            <a href="#">John Doe</a>
          </span>
          <span class="post-date">
            <i class="far fa-calendar-alt"></i>
            <time datetime="2020-01-01">January 1, 2020</time>
          </span>
        </p>
        <h1 class="post-title">How to Take care of Cat</h1>
        <p class="post-body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
          quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
          Repudiandae, odio?
        </p>
        <!-- category -->
        <div class="post-category">
          <span>Category:</span>
        </div>
        <a href="/" class="post-read-more">Continue Reading...</a>
      </article>
    </section>

    <!-- footer -->
    <%-include('../partials/footer.ejs')%>
  </body>
</html>

<p>
  <i style="color: yellow" class="fa-solid fa-key fas"></i>
</p>
