<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="profile-container">
      <header
        style="
          background-image: url(https://cdn.pixabay.com/photo/2022/10/03/19/03/building-7496662_1280.jpg);
        "
      >
        <div class="icons-container">
          <p>
            <i class="fas fa-user"></i>
          </p>
          <p>
            <i class="fas fa-envelope"></i>
          </p>
          <p>
            <i class="fas fa-lock"></i>
          </p>
          <p>
            <i class="fas fa-sign-out-alt"></i>
          </p>
        </div>
        <!-- upload cover image icon -->
        <i class="fas fa-camera upload-btn"></i>
      </header>

      <!-- profile image -->
      <div class="profile-img">
        <img
          src="https://cdn.pixabay.com/photo/2022/09/26/04/24/swan-7479623_1280.jpg"
          alt="profile image"
        />
        <!-- upload profile image icon -->
        <i class="fas fa-camera upload-btn"></i>
      </div>
      <!-- personal details -->
      <div class="personal-container">
        <div class="details-wrapper">
          <div class="details">
            <i class="fas fa-user"></i>
            <p>Name: John Doe</p>
          </div>
          <div class="details">
            <i class="fas fa-envelope"></i>
            <p>Email: John Doe</p>
          </div>
          <!-- date joined -->
          <div class="details">
            <i class="fas fa-calendar"></i>
            <p>Date Joined: John Doe</p>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-post-title">
      <!-- Icon -->
      <i class="fas fa-book-open"></i>
      <h1>Latest Posts (20)</h1>
      
    </div>

    <!-- content -->
    <section class="container-flex">
        <article class="post-content">
          
          <img src="/images/post.png" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">John Doe</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">January 1, 2020</time>
            </span>
          </p><h1 class="post-title">Become a Web Developer</h1>
          <p class="post-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
            quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
            Repudiandae, odio?
          </p>
          <!-- category -->
          <div class="post-category">
            <span>Category:</span>
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>

        <article class="post-content">
          <img src="/images/post.png" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">John Doe</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">January 1, 2020</time>
            </span>
          </p><h1 class="post-title">How to Take care of Cat</h1>
          <p class="post-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
            quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
            Repudiandae, odio?
          </p>
          <!-- category -->
          <div class="post-category">
            <span>Category:</span>
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>

        <article class="post-content">
          
          <img src="/images/post.png" alt="" class="post-image" />
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">John Doe</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">January 1, 2020</time>
            </span>
          </p>
          <h1 class="post-title">How to Take care of Cat</h1>
          <p class="post-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            itaque inventore culpa placeat! Cum nam optio, labore, voluptas sunt
            quam rem cupiditate laboriosam amet reiciendis velit doloribus eum!
            Repudiandae, odio?
          </p>
          <!-- category -->
          <div class="post-category">
            <span>Category:</span>
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>

        
    
      
    </section>
    <!-- footer -->
    <footer>
      <div class="about">
        <h1><span class="logo-text">Novotek </span> <span>Blog</span></h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
          recusandae, molestiae incidunt
        </p>
        <!-- Contacts -->
        <div class="contact">
          <span>
            <i class="fas fa-phone"></i>
            + (123) 456 789
          </span>
          <span>
            <i class="fas fa-envelope"></i>
            
            <a href="mailto:support@inovotek.com">
              support@inovotek.com
            </a>
          </span>

        </div>
        <!-- socials -->
        <div class="socials">
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-facebook"></i>
          </a>
         
    </footer>
  </body>
</html>


<p>
  <i style="color: yellow" class="fa-solid fa-key fas"></i>
</p>