<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <!-- nav -->
    <%-include('../partials/header.ejs')%>

    <!-- personal details -->
    <div class="profile-container">
      <h1>CREATIVITY. BOOKS. TECHNOLOGY.</h1>
      <span> 🌛🌜</span>
      <p>
        Self-taught junior full-stack developer, passionate about reading,
        creative writing and technology.
      </p>
      <p>
        Check out the <a href="/contact"> Contact </a> page for other details
        and ways to stay in touch.
      </p>
      <p>
        Go to the <a href="/sign_up"> Sign up </a> page to subscribe and get
        updates.
      </p>
    </div>

    <!-- content -->
  </body>
</html>
